{
    "address": "",
    "filename": "payout.json",
    "node": "http://localhost:6869",
    "percentageOfFeesToDistribute": 100,
    "blockStorage": "blocks.db",
    "apiKey": "",
    "feeAssetId": "5BK9HPKmSkxoMdqvDzneb2UaW2NzDRjoMpMvQWfB4NcK",
    "fee": 1,
    "batchSize" : 50
}