{
    "address": "",
    "filename": "payout.json",
    "node": "http://localhost:6869",
    "percentageOfFeesToDistribute": 100,
    "leaserTransferFee": 0.001,
    "blockStorage": "blocks.db",
    "apiKey": "",
    "batchSize": 50,
    "attachment": "Thank you for leasing with us",
    "feeAssetId": "5BK9HPKmSkxoMdqvDzneb2UaW2NzDRjoMpMvQWfB4NcK",
    "fee": 1
}