{
    "address": "",
    "alias": "",
    "startBlockHeight": 1,
    "endBlock": 2,
    "distributableMrtPerBlock": 0,
    "filename": "payout.json",
    "node": "http://localhost:6869",
    "percentageOfFeesToDistribute": 100,
    "blockStorage": "blocks.json",
    "apiKey": ""
}